<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets async="true">
    <target name="debuglog" type="File" fileName="${basedir}/logs/debuglog.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>
    <target name="Infolog" type="File" fileName="${basedir}/logs/${shortdate}.txt"
            layout="[${level}] ${newline}Date: ${date:format=yyyy-MM-dd HH\:mm\:ss} ${newline}Message: ${message} ${newline}"/>
  </targets>
  <rules>
    <!--此处可以写多个rule-->
    <!--<logger name="info" levels="info"  writeTo="debuglog"></logger> ${newline}StackTrace: ${stacktrace} -->
    <logger name="*" levels="Info,Error,Debug"  writeTo="Infolog"></logger>
  </rules>
</nlog>

<!--
<target name="jsonFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.json">
  <layout xsi:type="JsonLayout">
      <attribute name="time" layout="${longdate}" />
      <attribute name="level" layout="${level:upperCase=true}"/>
      <attribute name="message" layout="${message}" />
      <attribute name="properties" layout="${all-event-properties}" />
  </layout>
</target>
-->