<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets async="true">
    <target name="debuglog" type="File" fileName="${basedir}/logs/debuglog.txt"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>
    <target name="Infolog" type="File" fileName="${basedir}/logs/${shortdate}.txt"
            layout="[${level}] ${message} ${exception}"/>
  </targets>
  <rules>
    <!--此处可以写多个rule-->
    <!--<logger name="info" levels="info"  writeTo="debuglog"></logger>-->
    <logger name="*" levels="Info,Error,Debug"  writeTo="Infolog"></logger>
  </rules>
</nlog>